@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #3b3b3b;
  color: white;
}

nav {
  min-height: 85px;
  width: 100%;
  background-color: white;
}

#intro {
  background-image: url("/img/bg_img2.jpg");
  height: 700px;
}

.bg-image {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.shadow-1-strong {
  box-shadow: 0 0px 2px 0 rgba(var(--mdb-box-shadow-color-rgb), 0.16),
    0 1px 1px 0 rgba(var(--mdb-box-shadow-color-rgb), 0.1) !important;
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.8);
}

#ServicesBtn {
  background-color: rgba(255, 255, 255, 0.5);
}

#ServicesBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#ServicesBtn2 {
  background-color: rgba(0, 0, 0, 0.5);
}

#ServicesBtn2:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.NavItems {
  @apply m-3 lg:block text-lg font-medium hover:text-gray-400;
}

.NavItems {
  font-family: Arial, Helvetica, sans-serif;
}
.homeFont {
  font-family: Arial, Helvetica, sans-serif;
}
.AbHome {
  min-height: 650px;
}

#AboutUsBtn {
  background-color: rgba(0, 0, 0, 0.5);
}

#AboutUsBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.card {
  @apply h-card2 text-white flex mx-1 flex-row max-w-7xl xsm:h-card sm:h-auto sm:block   sm:max-w-96 rounded-xl;
  transition: transform 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-in-out;
  background-color: #b3b3b3;
}

.cardImg {
  @apply h-card2 xsm:h-card w-6/12 border-black border-b-2 sm:w-full sm:mx-auto sm:h-4/6;
}

.card:hover {
  box-shadow: 5px 5px #696969;
  transform: scale(1.05);
}

.card2 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  background-color: #b3b3b3;
}

.card2:hover {
  box-shadow: 5px 5px #696969;
  transform: scale(1.05);
}

.ClientHome {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.ProjectBG {
  background-image: url(/img/ProjectImg.avif);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

footer {
  background-color: #333;
  color: #fff;
}

.footer-container {
  max-width: 1200px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #555;
  padding-top: 20px;
  margin-top: 40px;
}

.footer-bottom p {
  margin: 10px 0;
}

.footer-bottom a {
  color: #ff0000;
  margin: 0 10px;
}

@media (max-width: 640px) {
  .ClientHome {
    writing-mode: horizontal-tb;
  }
}

@media (max-width: 512px) {
  .footerChange {
    margin-top: 45px !important;
  }
}

.servicesCard {
  @apply flex mt-5 flex-col xsm:flex-col gap-4 items-center md:gap-12 border-black xsm:mx-4 rounded-2xl;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  width: 300px;
  background-size: 100%;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.servicesCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.servicesCard::before {
  content: "";
  height: 100%;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #ffffff 74%);
  width: 0;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
}

.servicesCard:hover::before {
  width: 100%;
}

.card.visible,
.card2.visible {
  opacity: 1;
  transform: translateY(0);
}

.transiText {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.6s ease-out, transform 1s ease-out;
}

.transiText.visible {
  opacity: 1;
  transform: translateX(0);
}

.bgImageAbout {
  color: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/img/AboutUsImg.avif");
}

.aboutImageMain {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/img/AboutUsMains.avif");
}

.visionIMg {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/img/Vision_Img.avif");
}

.servicesTop {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/img/ServicesMainImg.avif");
}

.PortfolioMain {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/img/Portfolio_Img.avif");
}

@media screen and (max-width: 435px) {
  .PortfolioMain {
    background-attachment: scroll;
  }
  .servicesTop {
    background-attachment: scroll;
  }
  .visionIMg {
    background-attachment: scroll;
  }
  .aboutImageMain {
    background-attachment: scroll;
  }

  .bgImageAbout {
    background-attachment: scroll;
  }

  .ProjectBG {
    background-attachment: scroll;
  }

  .bg-image {
    background-attachment: scroll;
  }

  .mask {
    background-attachment: scroll;
  }
}

.portfolio {
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa;
}

.portfolio-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.portfolio-item {
  background: linear-gradient(135deg, #f0f0f0 0%, #ffffff 100%);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 300px;
  padding: 20px;
}

.portfolio-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.portfolio-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.portfolio-item-title {
  font-size: 1.5rem;
  margin: 15px 0 10px;
  color: #130f40;
}

.portfolio-item-description {
  font-size: 1rem;
  color: #666;
}
